html{
    scroll-behavior: smooth;
}
body{
    background-color: #ece0e8;
}
*{
    font-family: 'Josefin Sans', sans-serif;
}
strong{
    color: rgba(0, 23, 228, 0.925);
    font-size: larger;
}
nav{
    background-color:rgb(196, 196, 196);
}
.navbar1{
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    text-align: center;
}
.navnaam{
    text-align: left;
    font-size: x-large;
    color: rgba(0, 23, 228, 0.925);
}
.homepage{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
}
.homepage a{
    text-decoration: none;
    color: rgba(0, 23, 228, 0.925);
}
.foto0{
    filter: blur(1px);
    margin-top: 215px;
}
#hometext{
    margin-top: 5em;
}
.aboutheader{
    
    text-align: center;
    color: rgba(0, 23, 228, 0.925);
}
#sectionabout{
    position: absolute;
}
#about{
    margin-top: 5em;
}

#foto1{
    display: block;
    width:15em;
}

#about-me tr + tr td{
    border-top: 0px solid white;
}

#about-me td + td{
border: 0px solid white;
}

.artboard{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}
.card{
    flex: initial;
    position: relative;
    height: 52rem;
    width: 48rem;
    -moz-perspective: 200rem;
    perspective: 200rem;
}
.card__side{
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}
.card__side--front{
    background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.card__side--back{
    background-color: #fff;
    transform: rotateY(180deg);
}
.card:hover .card__side--back{
    transform: rotateY(0);
}
.card:hover .card__side--front{
    transform: rotateY(-180deg);
}
.card__theme{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 54%;
    width: 90%;
    text-align: center;
}
.card__theme-box{
    color: #fff;
    margin-bottom: 8rem;
}
.card__subject{
    letter-spacing: 0.8rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.card__title{
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 100;
}
.card__cover{
    position: relative;
    background-size: cover;
    height: 14rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.card__heading{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}
.card__heading-span{
    font-size: 4.2rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: #fff;
}

.card__details{
    padding: 10px;
}

.card__details ul{
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card__details ul li{
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
}

.card__details ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}

.card{
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    height: 100%;
}

.card__side{
    height: auto;
    position: relative;
    box-shadow: none;
}

.card__side--front{
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.card__side--back{
    transform: rotateY(0);
}

.card:hover .card__side--front{
    transform: rotateY(0);
}

.card__details{
    padding: 3rem 2rem;
}

.card__theme{
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 1.5rem 4rem;
    text-align: right;
}

.card__theme-box{
    margin-bottom: 1.5rem;
}

.card__title{
    font-size: 4rem;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#footer{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: rgba(0, 23, 228, 0.925);
    background-color:rgba(201, 200, 200, 0.815);
}

hr{
    width: 65%;
    border-width: 2px;
}

.dark-mode {
    background-color: rgb(29, 29, 29);
    color: rgb(163, 163, 163);
}

#container{
	width: 1000px;
	height: 550px;
	margin: 20px auto;	
}

#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
	height: 120px;
}

#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}

#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
    font-size: 30px;
}

#keyboard{
	height: 400px;
}

.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}

.number, .empty{
	background-color: #eaedef;
}

.number, .operator{
	cursor: pointer;
}

.operator:active, .number:active{
	font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}

button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}

button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}

button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}

button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}

button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}

#calc{
    text-align: center;
    color: rgba(0, 23, 228, 0.925);
    margin-top: 5em;
}

table.board {
    border-collapse: collapse;
    margin-bottom: 1em;
}
  
td {
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 80px;
    font-size: 60px;
}
  
td + td {
    border-left: 1px solid black;
}
  
  tr + tr td {
    border-top: 1px solid black;
}
.board {
  
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    font-family: 'Lato', sans-serif;
    border: solid 1px black;
  }